
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background-color: white;
 
}
.container{
    color:  black;
    font-family: 'Montaga';
      
}
.impress{
    font-size: 25px;
    font-weight:bold;
    font-family: monospace;
}